<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<meta charset="utf-8">
		<title>Lazurite</title>
	</head>
	<body>
		<h1>{{ pageTitle }}</h1>

		{{ content }}
	</body>
</html>
